@charset "ISO-8859-1";
#dashboard
{
	color:white;
	font-size: xx-large;
	font-weight: bold; 
}
.profilebtn
{
	margin-left:30px;
	font-size:large; 

}    
.dashbody
{
	background-color:#E8E8E8; 
}
.content
{
	height:500px;
}
.nav-link
{
	color:black;
	font-size:large;  
}